<a href="https://colab.research.google.com/github/mohmaed7777/GoDaddy---Microbusiness-Density-Forecasting/blob/main/GoDaday_nb1_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.8/dist-packages (1.5.12)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.8/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from kaggle) (4.64.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.8/dist-packages (from kaggle) (8.0.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from kaggle) (2022.12.7)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.8/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.8/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from kaggle) (2.25.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.8/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle) (2.10)

In [2]:
!mkdir ~/.kaggle

In [3]:
! cp kaggle.json ~/.kaggle/

In [4]:
! chmod 600 ~/.kaggle/kaggle.json

In [5]:
! kaggle competitions download -c godaddy-microbusiness-density-forecasting

Downloading godaddy-microbusiness-density-forecasting.zip to /content
100% 1.74M/1.74M [00:00<00:00, 2.57MB/s]
100% 1.74M/1.74M [00:00<00:00, 2.29MB/s]

In [6]:
! unzip godaddy-microbusiness-density-forecasting.zip

Archive:  godaddy-microbusiness-density-forecasting.zip
  inflating: census_starter.csv
  inflating: sample_submission.csv
  inflating: test.csv
  inflating: train.csv

# **EDA:=**

In [7]:
!pip install yfinance
!pip install ta

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.2.12-py2.py3-none-any.whl (59 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.2/59.2 KB 2.5 MB/s eta 0:00:00
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 KB 6.6 MB/s eta 0:00:00
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (110 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 111.0/111.0 KB 13.2 MB/s eta 0:00:00
Collecting requests>=2.26
  Downloading requests-2.28.2-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 KB 7.2 MB/s eta 0:00:00
Collecting beautifulsoup4>=4.11.1
  Downloading beautifulsoup4-4.11.2-py3-none-any.whl (129 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 129.4/129.4 KB 14.7 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.2)
Collecting cryptography>=3.3.2
  Downloading cryptography-39.0.1-cp36-abi3-manylinux_2_28_x86_64.whl (4.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 41.5 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2022.7.1)
Collecting soupsieve>1.2
  Downloading soupsieve-2.4-py3-none-any.whl (37 kB)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Installing collected packages: soupsieve, requests, html5lib, frozendict, cryptography, beautifulsoup4, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.25.1
    Uninstalling requests-2.25.1:
      Successfully uninstalled requests-2.25.1
  Attempting uninstall: html5lib
    Found existing installation: html5lib 1.0.1
    Uninstalling html5lib-1.0.1:
      Successfully uninstalled html5lib-1.0.1
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
Successfully installed beautifulsoup4-4.11.2 cryptography-39.0.1 frozendict-2.3.4 html5lib-1.1 requests-2.28.2 soupsieve-2.4 yfinance-0.2.12
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting ta
  Downloading ta-0.10.2.tar.gz (25 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from ta) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from ta) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->ta) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->ta) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->ta) (1.15.0)
Building wheels for collected packages: ta
  Building wheel for ta (setup.py) ... done
  Created wheel for ta: filename=ta-0.10.2-py3-none-any.whl size=29106 sha256=e9142bafd6745cc490783b6c34ea6189a895d6af059ffadd42365cd61935ce14
  Stored in directory: /root/.cache/pip/wheels/1b/81/50/db21d9643326c61dd6fee1dc2562d8351ee7753164c24ead38
Successfully built ta
Installing collected packages: ta
Successfully installed ta-0.10.2

In [8]:
import matplotlib.pyplot as plt
import matplotlib.style 
plt.style.use('ggplot')
import plotly.graph_objects as go 
from plotly.subplots import make_subplots
import numpy as np 
import pandas as pd 
import yfinance as yf 
from ta.trend import SMAIndicator
print('ready to go!!')

ready to go!!

In [9]:
df_sample_sub = pd.read_csv('/content/sample_submission.csv')
df_sample_sub.head()

            row_id  microbusiness_density
0  1001_2022-11-01               3.817671
1  1003_2022-11-01               3.817671
2  1005_2022-11-01               3.817671
3  1007_2022-11-01               3.817671
4  1009_2022-11-01               3.817671

In [10]:
df_sample_sub.tail()

                 row_id  microbusiness_density
25075  56037_2023-06-01               3.817671
25076  56039_2023-06-01               3.817671
25077  56041_2023-06-01               3.817671
25078  56043_2023-06-01               3.817671
25079  56045_2023-06-01               3.817671

In [11]:
df_census = pd.read_csv('/content/census_starter.csv')
df_census.head()

   pct_bb_2017  pct_bb_2018  ...  median_hh_inc_2020  median_hh_inc_2021
0         76.6         78.9  ...             57982.0             62660.0
1         74.5         78.1  ...             61756.0             64346.0
2         57.2         60.4  ...             34990.0             36422.0
3         62.0         66.1  ...             51721.0             54277.0
4         65.8         68.5  ...             48922.0             52830.0

[5 rows x 26 columns]

In [12]:
df_train = pd.read_csv('/content/train.csv')
df_train.head()

            row_id  cfips  ... microbusiness_density active
0  1001_2019-08-01   1001  ...              3.007682   1249
1  1001_2019-09-01   1001  ...              2.884870   1198
2  1001_2019-10-01   1001  ...              3.055843   1269
3  1001_2019-11-01   1001  ...              2.993233   1243
4  1001_2019-12-01   1001  ...              2.993233   1243

[5 rows x 7 columns]

In [13]:
df_train.tail()

                  row_id  cfips  ... microbusiness_density active
122260  56045_2022-06-01  56045  ...              1.803249    101
122261  56045_2022-07-01  56045  ...              1.803249    101
122262  56045_2022-08-01  56045  ...              1.785395    100
122263  56045_2022-09-01  56045  ...              1.785395    100
122264  56045_2022-10-01  56045  ...              1.785395    100

[5 rows x 7 columns]

In [14]:
df_test = pd.read_csv('/content/test.csv')
df_test.head()

            row_id  cfips first_day_of_month
0  1001_2022-11-01   1001         2022-11-01
1  1003_2022-11-01   1003         2022-11-01
2  1005_2022-11-01   1005         2022-11-01
3  1007_2022-11-01   1007         2022-11-01
4  1009_2022-11-01   1009         2022-11-01

In [16]:
df_train.shape

(122265, 7)

In [18]:
df_train.isna().sum()

row_id                   0
cfips                    0
county                   0
state                    0
first_day_of_month       0
microbusiness_density    0
active                   0
dtype: int64

In [21]:
df_train.columns

Index(['row_id', 'cfips', 'county', 'state', 'first_day_of_month',
       'microbusiness_density', 'active'],
      dtype='object')

In [31]:
df_train.columns = ['row_id', 'cfips', 'county', 'state', 'Date','microbusiness_density', 'active']

ValueError: ignored

In [23]:
df_train.set_index('Date', drop=True, inplace=True)

In [24]:
df_max_values_show = df_train[df_train['state'] == df_train['state'].max()]
df_max_values_show.head()

                      row_id  cfips  ... microbusiness active
Date                                 ...
2019-08-01  56001_2019-08-01  56001  ...      4.418531   1402
2019-09-01  56001_2019-09-01  56001  ...      4.645446   1474
2019-10-01  56001_2019-10-01  56001  ...      4.607627   1462
2019-11-01  56001_2019-11-01  56001  ...      4.736842   1503
2019-12-01  56001_2019-12-01  56001  ...      4.815632   1528

[5 rows x 6 columns]

In [26]:
df_max_mbusi_show = df_train[df_train['microbusiness'] == df_train['microbusiness'].max()]
df_max_mbusi_show.head()

                      row_id  cfips  ... microbusiness active
Date                                 ...
2019-10-01  46127_2019-10-01  46127  ...     284.34003  32011

[1 rows x 6 columns]

In [27]:
df_train[df_train['state'] == df_train['state'].max()]

                      row_id  cfips  ... microbusiness active
Date                                 ...
2019-08-01  56001_2019-08-01  56001  ...      4.418531   1402
2019-09-01  56001_2019-09-01  56001  ...      4.645446   1474
2019-10-01  56001_2019-10-01  56001  ...      4.607627   1462
2019-11-01  56001_2019-11-01  56001  ...      4.736842   1503
2019-12-01  56001_2019-12-01  56001  ...      4.815632   1528
...                      ...    ...  ...           ...    ...
2022-06-01  56045_2022-06-01  56045  ...      1.803249    101
2022-07-01  56045_2022-07-01  56045  ...      1.803249    101
2022-08-01  56045_2022-08-01  56045  ...      1.785395    100
2022-09-01  56045_2022-09-01  56045  ...      1.785395    100
2022-10-01  56045_2022-10-01  56045  ...      1.785395    100

[897 rows x 6 columns]

In [28]:
df_train[df_train['state'] == df_train['state'].min()]

                     row_id  cfips  ... microbusiness active
Date                                ...
2019-08-01  1001_2019-08-01   1001  ...      3.007682   1249
2019-09-01  1001_2019-09-01   1001  ...      2.884870   1198
2019-10-01  1001_2019-10-01   1001  ...      3.055843   1269
2019-11-01  1001_2019-11-01   1001  ...      2.993233   1243
2019-12-01  1001_2019-12-01   1001  ...      2.993233   1243
...                     ...    ...  ...           ...    ...
2022-06-01  1133_2022-06-01   1133  ...      1.234502    233
2022-07-01  1133_2022-07-01   1133  ...      2.463707    465
2022-08-01  1133_2022-08-01   1133  ...      3.947229    745
2022-09-01  1133_2022-09-01   1133  ...      3.597542    679
2022-10-01  1133_2022-10-01   1133  ...      3.555155    671

[2613 rows x 6 columns]

In [30]:
title = 'South Dakota'
df_train[df_train['state']==title][['microbusiness_density']].plot(figsize=(12,5),title=title,fontsize=15)

KeyError: ignored